:root {
    --rad: 0.7rem;
    --dur: 0.3s;
    --color-light: #fff;
    --color-brand: black;
    --font-fam: "Lato", sans-serif;
    --height: 4rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

html.search_bar_html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

form.search_bar_form {
    position: relative;
    width: 90%;
    background: var(--color-brand);
    border-radius: var(--rad);
}

input.search_bar_input,
button.search_bar_button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
}

input[type=search].search_bar_input {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 0;
    position: relative;
}

button.search_bar_button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
    color: white;
}

input.search_bar_input:not(:-moz-placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}

input.search_bar_input:not(:-ms-input-placeholder) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}

input.search_bar_input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}
input.search_bar_input:not(:-moz-placeholder-shown) + button {
    display: block;
}
input.search_bar_input:not(:-ms-input-placeholder) + button {
    display: block;
}
input.search_bar_input:not(:placeholder-shown) + button {
    display: block;
}

label.search_bar_label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}